/* https://github.com/vineethtrv/css-loader */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--text-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 3rem auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}