.markdown-body {
    color-scheme: light;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

p {
    margin-bottom: 1rem;
}

.markdown-body hr {
    border: none;
    border-top: 4px solid rgb(209 213 219);
    color: rgb(209 213 219);
    overflow: visible;
    text-align: center;
    height: 5px;
    position: relative;
    margin: 4rem 0;
}

.markdown-body hr::after {
    background: #fff;
    content: '✦';
    font-size: 2.5rem;
    padding: 0 4px;
    position: relative;
    top: -2.1rem;
}